# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

cache-directory

# dependencies
node_modules
.next
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
bat/
# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files (never commit secrets)
.env*
frontend/.env*
deployment/ec2.txt

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts


##py backend

config.toml
output.sh
node_modules
.next
.vscode/
__pycache__/


/backend/scrapers/aicte/aicte_circulars
/backend/scrapers/aicte/data
/backend/scrapers/moe/moe_pdfs